body {
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
}

/* Footer */
footer {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Ensures it takes full width */
  text-align: center;
  font-size: 1rem;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: #e6b800;
}
